#include ("IndexHtmlOpen.html","IndexHeadOpen.html","IndexHeadClose.html","IndexBodyOpen.html")
#if (($client) && ("$!client" != ""))
   #include ("TableOpen.html")
   #writeClientTable($client)
   #include ("TableClose.html")
#end
#include ("IndexBodyClose.html")
#include ("IndexHtmlClose.html")