<form id="ClientEditForm" name="ClientEditForm" method="post" action=$contextRoot/Client.action/updateClient/$client.id>
  <label>ID</label>
    <input type="text" name="client.identifier" value=$client.identifier id="identifier" />
  <label>name</label>
    <input type="text" name="client.name" value=$client.name id="name" />
  <input type="submit" value="Submit" />
</form>