#include ("IndexHtmlOpen.html","IndexHeadOpen.html","IndexHeadClose.html","IndexBodyOpen.html")
#if (($projectArchiveList) && ("$!projectArchiveList" != ""))
   #if ($projectArchiveList.size() > 0)
      #include ("TableOpen.html")
      #writeProjectArchiveListTable($projectArchiveList)
      #include ("TableClose.html")
   #end
#end
#if (($projectMessageList) && ("$!projectMessageList" != ""))
   #if ($projectMessageList.size() > 0)
      #include ("TableOpen.html")
      #writeMessageListTable($projectMessageList)
      #include ("TableClose.html")
   #end
#end
#parse ("AllAHREF.html")
#include ("BR.html")
#include ("IndexBodyClose.html")
#include ("IndexHtmlClose.html")
